* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(221, 97, 14, 0.678);
    height: 50px;
    padding: 10px;
}

header nav ul{
    display: flex;
    flex-direction: row-reverse;
}

header nav ul li a {
    padding: 10px ;
    color: white;
    font-size: 1.1rem;
}

h1, p{
    text-align: center;
}

h1 {
    margin: 10px;
}

fieldset {
    margin: 15px;
}

.artigo {
    text-align: justify;
    margin: 40px;
}

table {
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border: 1px solid black;
}

table tr td {
    padding: 10px;
    border: 1px solid black;
}

/*Selecionar itens pares*/
table tr:nth-child(even){
    background-color: lightslategray;
}

/*Selecionar itens ímpares*/
table tr:nth-child(odd){
    background-color: lightblue;
}

table thead td {
    background-color: salmon;
    color: white;
    font-weight: 600;
}